In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/Chapel_Hill_Public_Library_Foot_Traffic.csv")
df.head()

,OBJECTID,Datetime,Total_Occupancy,Children_s_Room_Occupancy,Lobby_Occupancy,Children_s_Entrance_Child_Ins,Children_s_Entrance_Child_Outs,Lower_Entrance_Child_Ins,Lower_Entrance_Child_Outs,Security_Gate_Adult_Ins,...,Lower_Entrance_Adult_Ins,Lower_Entrance_Adult_Outs,Children_s_Entrance_Adult_Ins,Children_s_Entrance_Adult_Outs,Security_Gate_Child_Ins,Security_Gate_Child_Outs,Main_Entrance_Adult_Ins,Main_Entrance_Adult_Outs,Main_Entrance_Child_Ins,Main_Entrance_Child_Outs
0,1,1900/08/24 00:00:00+00,7,66,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1900/08/24 00:00:00+00,17,79,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1900/08/25 00:00:00+00,30,115,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1900/06/25 00:00:00+00,20,73,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1900/05/24 00:00:00+00,13,62,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['OBJECTID', 'Datetime', 'Total_Occupancy', 'Children_s_Room_Occupancy',
       'Lobby_Occupancy', 'Children_s_Entrance_Child_Ins',
       'Children_s_Entrance_Child_Outs', 'Lower_Entrance_Child_Ins',
       'Lower_Entrance_Child_Outs', 'Security_Gate_Adult_Ins',
       'Security_Gate_Adult_Outs', 'Lower_Entrance_Adult_Ins',
       'Lower_Entrance_Adult_Outs', 'Children_s_Entrance_Adult_Ins',
       'Children_s_Entrance_Adult_Outs', 'Security_Gate_Child_Ins',
       'Security_Gate_Child_Outs', 'Main_Entrance_Adult_Ins',
       'Main_Entrance_Adult_Outs', 'Main_Entrance_Child_Ins',
       'Main_Entrance_Child_Outs'],
      dtype='object')

In [3]:
df.shape

(5365, 21)

In [4]:
df.dtypes

OBJECTID                            int64
Datetime                           object
Total_Occupancy                     int64
Children_s_Room_Occupancy           int64
Lobby_Occupancy                   float64
Children_s_Entrance_Child_Ins     float64
Children_s_Entrance_Child_Outs    float64
Lower_Entrance_Child_Ins          float64
Lower_Entrance_Child_Outs         float64
Security_Gate_Adult_Ins           float64
Security_Gate_Adult_Outs          float64
Lower_Entrance_Adult_Ins          float64
Lower_Entrance_Adult_Outs         float64
Children_s_Entrance_Adult_Ins     float64
Children_s_Entrance_Adult_Outs    float64
Security_Gate_Child_Ins           float64
Security_Gate_Child_Outs          float64
Main_Entrance_Adult_Ins           float64
Main_Entrance_Adult_Outs          float64
Main_Entrance_Child_Ins           float64
Main_Entrance_Child_Outs          float64
dtype: object

In [5]:
df.isna().sum()

OBJECTID                             0
Datetime                             0
Total_Occupancy                      0
Children_s_Room_Occupancy            0
Lobby_Occupancy                    222
Children_s_Entrance_Child_Ins      222
Children_s_Entrance_Child_Outs     222
Lower_Entrance_Child_Ins           222
Lower_Entrance_Child_Outs          222
Security_Gate_Adult_Ins            222
Security_Gate_Adult_Outs           222
Lower_Entrance_Adult_Ins           222
Lower_Entrance_Adult_Outs          222
Children_s_Entrance_Adult_Ins      222
Children_s_Entrance_Adult_Outs     222
Security_Gate_Child_Ins            222
Security_Gate_Child_Outs           222
Main_Entrance_Adult_Ins            222
Main_Entrance_Adult_Outs           222
Main_Entrance_Child_Ins            222
Main_Entrance_Child_Outs          5365
dtype: int64

In [6]:
list(df.columns)

['OBJECTID',
 'Datetime',
 'Total_Occupancy',
 'Children_s_Room_Occupancy',
 'Lobby_Occupancy',
 'Children_s_Entrance_Child_Ins',
 'Children_s_Entrance_Child_Outs',
 'Lower_Entrance_Child_Ins',
 'Lower_Entrance_Child_Outs',
 'Security_Gate_Adult_Ins',
 'Security_Gate_Adult_Outs',
 'Lower_Entrance_Adult_Ins',
 'Lower_Entrance_Adult_Outs',
 'Children_s_Entrance_Adult_Ins',
 'Children_s_Entrance_Adult_Outs',
 'Security_Gate_Child_Ins',
 'Security_Gate_Child_Outs',
 'Main_Entrance_Adult_Ins',
 'Main_Entrance_Adult_Outs',
 'Main_Entrance_Child_Ins',
 'Main_Entrance_Child_Outs']

In [7]:
df.columns

Index(['OBJECTID', 'Datetime', 'Total_Occupancy', 'Children_s_Room_Occupancy',
       'Lobby_Occupancy', 'Children_s_Entrance_Child_Ins',
       'Children_s_Entrance_Child_Outs', 'Lower_Entrance_Child_Ins',
       'Lower_Entrance_Child_Outs', 'Security_Gate_Adult_Ins',
       'Security_Gate_Adult_Outs', 'Lower_Entrance_Adult_Ins',
       'Lower_Entrance_Adult_Outs', 'Children_s_Entrance_Adult_Ins',
       'Children_s_Entrance_Adult_Outs', 'Security_Gate_Child_Ins',
       'Security_Gate_Child_Outs', 'Main_Entrance_Adult_Ins',
       'Main_Entrance_Adult_Outs', 'Main_Entrance_Child_Ins',
       'Main_Entrance_Child_Outs'],
      dtype='object')

In [8]:
df_work = df[["Datetime", "Total_Occupancy"]].copy()
df_work.head()

                 Datetime  Total_Occupancy
0  1900/08/24 00:00:00+00                7
1  1900/08/24 00:00:00+00               17
2  1900/08/25 00:00:00+00               30
3  1900/06/25 00:00:00+00               20
4  1900/05/24 00:00:00+00               13

In [9]:
df_work["Datetime"] = pd.to_datetime(df_work["Datetime"])
df_work.dtypes

Datetime           datetime64[ns, UTC]
Total_Occupancy                  int64
dtype: object

In [10]:
df_work = df_work.sort_values("Datetime")
df_work.head()

                      Datetime  Total_Occupancy
2682 1899-12-30 00:00:00+00:00               17
4431 1899-12-30 00:00:00+00:00                1
4432 1899-12-30 00:00:00+00:00                1
4433 1899-12-30 00:00:00+00:00                1
4434 1899-12-30 00:00:00+00:00                1

In [11]:
df_work["Total_Occupancy"].describe()

count    5365.000000
mean       24.965704
std        23.502105
min         0.000000
25%         3.000000
50%        20.000000
75%        40.000000
max       130.000000
Name: Total_Occupancy, dtype: float64

In [12]:
high_occ_threshold = df_work["Total_Occupancy"].quantile(0.90)
high_occ_threshold

np.float64(59.0)

In [13]:
df_work["High_Occupancy"] = df_work["Total_Occupancy"] >= high_occ_threshold
df_work.head()

                      Datetime  Total_Occupancy  High_Occupancy
2682 1899-12-30 00:00:00+00:00               17           False
4431 1899-12-30 00:00:00+00:00                1           False
4432 1899-12-30 00:00:00+00:00                1           False
4433 1899-12-30 00:00:00+00:00                1           False
4434 1899-12-30 00:00:00+00:00                1           False

In [14]:
high_occ_rate = df_work["High_Occupancy"].mean()
high_occ_rate

np.float64(0.1015843429636533)

In [15]:
df_work["High_Run_ID"] = (
    df_work["High_Occupancy"]
    .ne(df_work["High_Occupancy"].shift())
    .cumsum()
)

df_work.head()

                      Datetime  Total_Occupancy  High_Occupancy  High_Run_ID
2682 1899-12-30 00:00:00+00:00               17           False            1
4431 1899-12-30 00:00:00+00:00                1           False            1
4432 1899-12-30 00:00:00+00:00                1           False            1
4433 1899-12-30 00:00:00+00:00                1           False            1
4434 1899-12-30 00:00:00+00:00                1           False            1

In [16]:
high_runs = (
    df_work[df_work["High_Occupancy"]]
    .groupby("High_Run_ID")
    .size()
)

high_runs.describe()

count    451.000000
mean       1.208426
std        0.499795
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        4.000000
dtype: float64

In [17]:
longest_run = high_runs.max() if not high_runs.empty else 0
longest_run

np.int64(4)

In [18]:
if high_occ_rate >= 0.20 and longest_run >= 3:
    decision = "Increase seating"
elif longest_run >= 3:
    decision = "Extend operating hours"
elif high_occ_rate > 0:
    decision = "Monitor only"
else:
    decision = "No action needed"

decision

'Extend operating hours'

In [19]:
df_work["Hour"] = df_work["Datetime"].dt.hour

def time_bucket(hour):
    if 8 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    else:
        return "Evening"

df_work["Time_Bucket"] = df_work["Hour"].apply(time_bucket)
df_work[["Datetime", "Hour", "Time_Bucket"]].head()

                      Datetime  Hour Time_Bucket
2682 1899-12-30 00:00:00+00:00     0     Evening
4431 1899-12-30 00:00:00+00:00     0     Evening
4432 1899-12-30 00:00:00+00:00     0     Evening
4433 1899-12-30 00:00:00+00:00     0     Evening
4434 1899-12-30 00:00:00+00:00     0     Evening

In [20]:
bucket_pressure = (
    df_work.groupby("Time_Bucket")["High_Occupancy"]
    .mean()
)

bucket_pressure

Time_Bucket
Evening    0.101584
Name: High_Occupancy, dtype: float64

In [21]:
most_stressed_bucket = bucket_pressure.idxmax()
most_stressed_bucket

'Evening'